<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidspreewarehouse"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.androidspreewarehouse.SpreeMainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        
        <activity
            android:name=".orders.SpreeOrdersActivity"
            android:theme="@style/AppTheme"  />
        
        <activity
            android:name=".products.SpreeProductsActivity"
            android:theme="@style/AppTheme"  />
        
        <activity
            android:name=".settings.SpreeSettingsActivity"
            android:theme="@style/AppTheme"  />
        
    </application>

</manifest>